.content-cards {
    width: 91rem;
    margin-top: 83px;
    margin-bottom: 240px;
    padding-left: 12%;

    &__caption {
        max-width: 75%;
        color: $dark-desc;
        font-size: 48px;
        line-height: 56px;
        text-align: left;
        margin-bottom: 24px;

    }
    &__text {
        color: $green;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.75px;
        text-align: left;
        margin-bottom: 71px;

    }
    &__item {
        max-width: 73%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3%;
                
        &__card {
            & img {
                margin-left: 16%     
            }
            &__caption {
                margin-top: 26px;
                margin-bottom: 18px;
                color: $dark-desc;
                font-size: 24px;
                line-height: 24px;
                text-align: left;

            }
            &__text {
                color: $blonde;
                font-size: 16px;
                line-height: 24px;
                text-align: left;

            }
        }
    }
   
}
