.swiper {
    width: 100%;
    height: 100%;

    & img {
        width: 93.3%;
        margin: 0 auto;
        display: block;
             
    }  
}

.swiper-slide {
    opacity: 1;
}
.swiper-slide-active {
    opacity: 1;
    
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    color:#fff;
    height: 42px;
    width: 23px;  
}

.swiper .swiper-button-prev::after {
    margin-right: -104px;
}
.swiper .swiper-button-next::after {
    margin-left: -104px;
}
.swiper .swiper-pagination {
    
    position: relative;
    margin-top: 24px;      
    
}
.swiper-slide-next img {
    margin-left: -48px;
}
.swiper-slide-prev img {
    margin-right: -48px;
}

  
@font-face{font-family:swiper-icons;font-weight:400;font-style:normal; src: url();}:root{--swiper-theme-color:#46856E;}
